$clear-color: #fff;
$dark-color: #333;
$primary-color: blue;
$titles-color: #17353d;
$accent-color: #faa700;

.container {
  width: 90%;
  max-width: 1050px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 0.7rem 1.8rem;
  margin: 1rem 0;
  text-transform: uppercase;
  border-radius: 0.25rem;
  font-size: 1.125rem;
  color: $clear-color;
  background: $primary-color;
  transition: transform 0.25s ease, opacity 0.25s linear;

  &:hover,
  &:focus {
    transform: scale(1.1);
    opacity: 0.9;
  }
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primary-title {
  font-size: 3rem;
  line-height: 1.4;
  text-transform: uppercase;
}

.section-title {
  font-size: 2.5rem;
  line-height: 1.4rem;
  color: $titles-color;
  margin-bottom: 2rem;
}

.product-title {
  font-size: 3rem;
  text-transform: uppercase;
  color: $clear-color;
  line-height: 1;
}
// Margin and Padding

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 2.5rem 0;
}

.my-5 {
  padding: 3rem 0;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 2.5rem 0;
}

.py-5 {
  padding: 3rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 2.5rem;
}

.m-5 {
  padding: 3rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 2.5rem;
}

.p-5 {
  padding: 3rem;
}
